<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результат обработки изображения</title>
</head>
<body>
                <h2>Угол поворота - {{res}}</h2>
                <p>
                <h2 style="background-color:lime;">Status {{message}}</h2>
                <h3 style="background-color:lime;">Изображение после коррекции</h3>
                <p>
                    <img src={{path}}>
                <p>
                <button onclick="history.back()">Go Back</button>
</body>
</html>
